.plugin-design {
  margin-block-start: 200px;

  .slider {
    margin-block-start: 80px;
  }

  @media (max-width: 768px) {
    margin-block-start: 150px;

    .slider {
      margin-block-start: 30px;
    }
  }
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;

  .slider__button {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;

    @media (max-width: 1024px) {
      gap: 0;
    }

    button {
      background: none;
      border: none;
      font-size: 32px;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 17px;
      color: #000;
      cursor: pointer;
      padding: 19px 39px;
      border-radius: 100px;
      transition: all 0.3s;

      &.active {
        background: $color-black;
        color: $color-white;
      }

      @media (max-width: 1024px) {
        font-size: 18px;
        padding: 0 20px;
        gap: 7px;

        svg {
          width: 17px;
        }
      }

      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 100px;
    height: 650px;
    padding-bottom: 109px;
    position: relative;

    @media (max-width: 1024px) {
      width: 100%;
      height: auto;
      margin-top: 30px;
      padding-bottom: 70%;
      overflow: auto;
    }

    &-slide {
      width: 520px;
      transition: 0.3s;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -60px;
        left: 0;
        height: 28px;
        width: 100%;
        border-radius: 50%;
        background: #000000;
        filter: blur(22px);

        @media (max-width: 768px) {
          bottom: -30px;
          background: rgba(105, 105, 105, 0.7);
        }
      }

      img {
        width: 100%;
      }

      @media (max-width: 1024px) {
        width: calc(100% - 80px);
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &.active {
        width: 755px;
        margin: 0 !important;

        @media (max-width: 1024px) {
          width: calc(100% - 80px);
          z-index: 2222;
          opacity: 1;
        }
      }

      @media (min-width: 1024px) {
        &:first-child {
          margin-left: -257px;
        }

        &:last-child {
          margin-right: -257px;
        }
      }
    }
  }
}
